[Unit]
Description=Run NetlumaVPN stats collection every minute

[Timer]
OnBootSec=90
OnUnitActiveSec=60
AccuracySec=10
Unit=quickvpn-stats.service

[Install]
WantedBy=timers.target
