<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>mobileAPIBaseURL</key>
    <string>https://api.netlumavpn.example</string>
    <key>mobileClientKey</key>
    <string></string>
    <key>mobileTLSCertificateSHA256Base64</key>
    <string></string>
</dict>
</plist>
